{% extends "base.html" %}
{% block content %}
<body>
    <h1>Create Customer</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Reference Number</th>
                <th>Create Profile</th>
                <th>Get Profile</th>
                <th>Activate Customer</th>
                <th>Deactivate Customer</th>
                <th>Validate KYC</th>
                <th>Invalidate KYC</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.name }}</td>
                <td>{{ customer.customerRefNo }}</td>
                <td>
                    <form method="post" action="{% url 'create_profile' customer.customerRefNo %}">
                        {% csrf_token %}
                        <button type="submit">Create</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{% url 'fetch_profile' customer.customerRefNo %}">
                        {% csrf_token %}
                        <button type="submit">Get</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{% url 'activateCustomer' customer.customerRefNo %}">
                        {% csrf_token %}
                        <button type="submit">Activate</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{% url 'deActivateCustomer' customer.customerRefNo %}">
                        {% csrf_token %}
                        <button type="submit">Deactivate</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{% url 'validateKYC' customer.customerRefNo %}">
                        {% csrf_token %}
                        <button type="submit">Validate</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{% url 'inValidateKYC' customer.customerRefNo %}">
                        {% csrf_token %}
                        <button type="submit">Invalidate</button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No users found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="post" action="{% url 'update' %}">
        {% csrf_token %}
        <button type="submit">Update</button>
    </form>
</body>
{% endblock %}

