{% extends "base.html" %}
{% block content %}
<div class="mt-5 text-center">
  <h2>Product Page</h2>
  <p>Here is your product information.</p>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Gold</h5>
      <h6 class="card-subtitle mb-2 text-muted">Today's Price</h6>
      <p class="card-text"><strong>{{ price }}</strong></p>
      <a href="#" class="card-link">Buy</a>
      <a href="#" class="card-link">Sell</a>
      <a href="#" class="card-link">Loan</a>
      <a href="#" class="card-link">Lease</a>
    </div>
  </div>
</div>
{% endblock %}